.chart {
    display: block;
}
.bar-chart-container {
    overflow: hidden;
    background: cornsilk;
    display: inline-block;
    height: 400px;
    width: 230px;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px grey;
}

.bar-chart-container > svg {
    margin-top: 1px;
    padding-right: 5px;
    border-bottom: black 1px solid;
}

.bar-chart-container > svg > text {
    min-width: 30px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.bar-chart-container > svg > rect {
    cursor: pointer;
}

.bar-chart-container > svg > rect:hover {
    stroke: #000;
    stroke-width: 0.5px;
}

.chart-monthes {
    display: flex;
}

.chart-monthes > small {
    min-width: 20px;
    cursor: pointer;
}

.chart-tooltip-holder {
    height: 5px;
}

.chart-tooltip {
    display:none;
    font-size: 12px;
    position: relative;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px #aaaaaa;
    border-radius: 3px;
    background: #ffffffcc;
    visibility: visible;
    z-index: 100;
    transition: all 200ms ease-out;
}