.bar-chart-container {
    overflow: hidden;
    background: cornsilk;
    display: inline-block;
    height: 400px;
    width: 230px;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px grey;
}

.bar-chart-container > svg {
    margin-top: 20px;
}

.bar-chart-container > svg > text {
    min-width: 20px;
    font-size: 10px;
    text-align: center;
}

.chart-monthes {
    display: flex;
}

.chart-monthes > small {
    min-width: 20px;
}

rect {
    cursor: pointer;
}

rect:hover {
    border: solid 1px #aaf;
}

.chart-tooltip {
    display: none;
    top: 0;
    left: 0;
    position: relative;
    padding: 2px;
    border: solid 1px #333333;
    border-radius: 2px;
    background: #fff;
    visibility: hidden;
}