.user-items-container {
    height:100%;
    background: cornsilk;
    display: inline-block;
    max-height:400px;
    padding: 10px;
    margin: 3px;
    overflow: scroll;
    border-radius: 5px;
    box-shadow: 1px 1px 2px grey;
}

.user-items-container-list {
    display: inline;
}

.user-item {
    color: darkolivegreen;
    cursor: pointer;
    list-style-type: none;
}

.user-item:hover {
    text-decoration: underline;
    color: black;
}